.about {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about__info {
    background-color: rgba(49, 49, 49, 0.574);
    padding: 30px;
    line-height: 1.5;
    border: 1px solid rgb(57,255,20);
}

.about__stack {
    text-align: center;
}

.stack-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.stack-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 10px;
    background-color: rgba(39, 39, 39, 0.542);
    transition-property: background-color;
    transition-duration: .5s;
    border: 1px solid rgb(57,255,20);
}


.stack-list__img {
    height: 50px;
    filter: drop-shadow(0px 0px 1px rgb(126, 126, 126));
}
.stack-list__item:hover {
    background-color: #0c020e;
}

.about__certificates {
    text-align: center;
}

.certificate {
    background-color: rgba(39, 39, 39, 0.518);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border: 1px solid rgb(57,255,20);
}

.certificate__info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.certificate__img {
    max-width: 40px;
    border-radius: 5px;
    opacity: 2.5;
}


.certificate__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (max-width: 600px) {
    .stack-list__img {
        height: 30px;
    }
}

@media (max-width: 768px) {
    #about {
        padding-bottom: 80px;
    }
}

@media (max-width: 1200px) {
    .about-content {
        padding: 0px;
    }
    .stack-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .stack-list__item {
        gap: 10px;
    }
}